<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-grey fixed-top" [containerInside]="false">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand animate__animated animate__pulse animate__slow animate__infinite" target="blank" href="https://twitter.com/dylut2000?lang=en">Annie</a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>


        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" routerLink="/home" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>


        </ul>
    </links>
