<div class="mt-5">
  <br>
<div>
    <mdb-icon fas icon= "balance-scale" size="4x"></mdb-icon>

 <h3> Balance Report</h3>
</div>
<br>
<!-- balance card -->
<mdb-card>
  <mdb-card-body>
   Balance
   <br>
   R<app-balance></app-balance>
  </mdb-card-body>
</mdb-card>

<br>
<div class="row">
  <h3 class="col-8">Transactions</h3>
<button type="button" mdbBtn color="blue-grey" class="col-4" routerLink="/expense" mdbWavesEffect>Add</button>
</div>

<!-- trasnsactions -->
<mdb-card class="mt-3" *ngFor="let item of myData">
  <mdb-card-body>
    <mdb-card-title class="row">
      <h4 class="col-8">{{item.transactionType}}</h4>
      <small class="col-4 mt-2">date</small>
    </mdb-card-title>
    <mdb-card-text>
    {{item.expenseDescription}}
    </mdb-card-text>
    <mdb-card-text>R
      {{item.expenseAmount}}.00
      </mdb-card-text>
    <div class="flex-row">
      <a class="card-link">update</a>
      <a class="card-link">delete</a>
    </div>
  </mdb-card-body>
</mdb-card>



</div>
