<div class="mt-5">
  <br>
<div>
    <mdb-icon fas icon= "balance-scale" size="4x"></mdb-icon>

 <h3> Balance Report</h3>
</div>
<br>
<!-- balance card -->
<mdb-card>
  <mdb-card-body>
   Balance
   <br>
   R195.50
  </mdb-card-body>
</mdb-card>

<br>

<!-- trasnsactions -->
<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
      <h3>Transactions</h3>
    </mdb-card-title>
    <mdb-card-text>


    </mdb-card-text>
    <a routerLink="/income" class="card-link">+ Income</a>
    <a routerLink="/expense" class="card-link">- Expense</a>
  </mdb-card-body>
</mdb-card>




</div>
