<div class="mt-5">
  <div>
    <!-- Default form subscription -->
<form class="text-center border border-light p-5">
  <select [formControl]="transactionType" class="browser-default custom-select mb-3">
    <option value="" disabled selected>Transaction Type</option>
    <option value="Income">Income</option>
    <option value="Expences">Expences</option>

  </select>

  <!-- Description -->
  <input type="text" id="defaultSubscriptionFormPassword" [formControl]="expenseDescription" class="form-control mb-4" placeholder="Description">

  <!-- Amount -->
  <input type="number" id="defaultSubscriptionFormNumber" [formControl]="expenseAmount" class="form-control mb-4" placeholder="Amount">

  <!-- Sign in button -->
  <button mdbBtn color="blue-grey" block="true" (click)="add()" routerLink="/home" type="submit">Add</button>


</form>
<!-- Default form subscription -->
  </div>
</div>


