<div class="mt-5">
  <div>
    <!-- Default form subscription -->
<form class="text-center border border-light p-5">

  <!-- Description -->
  <input type="text" id="defaultSubscriptionFormPassword" [formControl]="expenseDescription" class="form-control mb-4" placeholder="Description">

  <!-- Amount -->
  <input type="number" id="defaultSubscriptionFormNumber" [formControl]="expenseAmount" class="form-control mb-4" placeholder="Amount">

  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" (click)="add()" routerLink="/home" type="submit">Add</button>


</form>
<!-- Default form subscription -->
  </div>
</div>

