<div class="mt-5">
  <div>
    <!-- Default form subscription -->
<form class="text-center border border-light p-5">

  <!-- Name -->
  <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Description">

  <!-- Email -->
  <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="Amount">

  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" type="submit">Add</button>


</form>
<!-- Default form subscription -->
  </div>
</div>
